.cartItem-main--bx{
  width: 50%;
  /* height: 100%; */
  padding: 10px;
}
.empty-cart--bx{
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-bg-img{
  width: 235px;
  opacity: 0.4;
  margin-bottom: 20px;
}
.to-shop--bx{
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.empty-cart-statement{
  font-size: 15px;
  color: #1d1b1a;
}
.go-to-store-btn{
  width: 100%;
  height: 45px;
  background: #fe8c00;
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.cart-items-display {
  width: 65%;
  height: 100%;
  border: none;
  border-radius: 10px;
}
.main-item-container {
  background: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 202px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 2%;
}

.date-img-name-container {
  width: 60%;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.delivery-date-container {
  width: 100%;
  margin-bottom: 18px;
  color: #1d1b1a;
}
.img-name-container {
  display: flex;
  height: 133px;
}

.product-img-container {
  width: 30%;
  height: 100%;
  border-radius: 10px;
}
.item-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.name-price-quantity {
  width: 70%;
  height: 100%;
  padding: 0 5%;
  color: #1d1b1a;
}
.item-name {
  font-size: 15px;
  font-weight: 500;
}
.price {
  font-size: bold;
  margin: 5% 0;
}
.quantity-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 32px;
  width: 100%;
}
.cart-item-remove-quantity--bx {
  width: 52%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reduce-btn,
.add-btn {
  background: #fe8c00;
  width: 45px;
  height: 100%;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500px;
  color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.delete-btn {
  width: 90px;
  background: #fe8c00;
  color: black;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.bx-trash{
  font-size: 20px;
}

.item-quantity {
  font-size: 1.3rem;
  text-align: center;
  margin: 1% 0;
  width: 8%;
}

.shipping-option-container {
  width: 40%;
  height: 95%;
  padding: 1% 1% 3% 1%;
}
.delivery-text{
  margin-left: 20px;
  margin-bottom: 12px;
}

.shipping-option {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.select-term {
  width: 17%;
  height: 10%;
}

.shipping-term {
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-bottom: 5px;
}

.term-fee {
  margin: 2% 0;
  color: gray;
  font-size: 15px;
}