.cart-summary{
  width: 60%;
  font-size: 15px;
}
.main-item-bx{
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .5);
}
.cart-item-details-bx{
  width: 62%;
}
.delivery-date-display{
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 13px;
}
.cart-item-bx{
  width: 100%;
  display: flex;
  align-items: top;
  gap: 10px;
}
.cart-items-first{
  width: 100%;
  display: flex;
  align-items: top;
  gap: 20px;
}
.cart-img-bx{
  max-width: 25%;
  max-height: 102px;
}
.cart-product-img{
  width: 100%;
  height: 100%;
}
.product-detail-bx{
  width: 75%;
}
.cart-product-name{
  font-weight: 500;
  margin-bottom: 10px;
}
.cart-product-price{
  margin-bottom: 15px;
  font-weight: bold;
}
.cart-btn-bx{
  display: flex;
  align-items: center;
  gap: 18px;
}
.reduce-btn,
.increase-btn,
.delete-btn{
  height: 30px;
  border: none;
  border-radius: 2px;
  background-color: #1d4c29;
  color: #ffffff;
  font-size: 17px;
  cursor: pointer;
}
.reduce-btn,
.increase-btn{
  width: 40px;
}
.delete-btn{
  width: 80px;
  font-size: 15px;
}
.quantity{
  text-align: center;
}
.delivery-option-bx{
 width: 38%;
}
.all-option-bx{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.options-bx{
  display: flex;
  gap: 10px;
}
.shipping-option{
  width: 19px;
}
.shipping-date{
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(146, 117, 30);
}


@media (max-width: 890px) {
  .cart-summary {
    width: 100%;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .cart-item-bx {
    flex-direction: column;
    gap: 30px;
  }
  .cart-item-details-bx {
    width: 100%;
  }
  .cart-img-bx {
    max-width: 35%;
    max-height: 102px;
  }
  .delivery-option-bx {
    width: 100%;
  }
  .reduce-btn,
  .increase-btn,
  .delete-btn {
    padding: 2px;
  }
}

@media (max-width: 480px) {
  .cart-item-bx {
    flex-direction: column;
    gap: 30px;
  }
  .cart-item-details-bx {
    width: 100%;
  }
  .cart-img-bx {
    max-width: 33%;
    max-height: 80px;
  }
  .product-detail-bx{
    width: 67%;
  }
}