.cart-summary-main--bx{
  width: 30%;
  height: 80%;
}
.summary--bx{
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}
.item-summary-container,
.shipping-summary-container,
.before-tax-summary-container,
.plus-summary-container,
.total-summary-container {
  background: white;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  margin-bottom: 10px;
}
.checkout-btn{
  width: 100%;
  height: 45px;
  background: #fe8c00;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  margin-top: 10px;
  cursor: pointer;
}