.cart{
  width: 100%;
  min-height: 100vh;
  padding: 160px 60px 30px 60px;
}
.cart-header{

  padding-left: 10px;
  color: #1d1b1a;
  margin-bottom: 8px;
}
.cart-component--bx{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;
}