.cart-bx{
  width: 100%;
  padding: 110px 140px 0 140px;
}
.cart-header{
  margin-bottom: 30px;
  color: #057a61;
  font-size: 40px;
}
.cart-info-bx{
  display: flex;
  align-items: top;
  justify-content: space-between;
  padding: 20px 0;
}

@media (max-width: 890px) {
  .cart-bx{
    padding: 100px 80px;
  }
  .cart-info-bx{
    flex-direction: column;
  }
}

/* Phones */
@media (max-width: 480px) {
  .cart-bx{
    padding: 100px 23px;
  }
}