* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
main{
  width: 100%;
  background-color: #f2eeed;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6, a, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #332f2f;
  font-family: sans-serif;
}