.home{
  width: 100%;
}
.home-components{
  width: 100%;
  padding: 0 13%;
  background-color: #f4f8f6;
  position: relative;
}

@media (max-width: 1920px) {
  .home-components {
    /* padding: 0 12%; */
  }
}

@media (max-width: 1728px) {
  .home-components {
    padding: 0 12%;
  }
}

/* Tablet */
@media (max-width: 890px) {
  .home-components {
    padding: 0 80px;
  }
}

/* Phones */
@media (max-width: 650px) {
  .home-components {
    padding: 0 19px;
  }
}