.home{
  width: 100%;
}
.home-components{
  width: 100%;
  padding: 100px 140px;
  position: relative;
}

/* Tablet */
@media (max-width: 890px) {
  .home-components {
    padding: 100px 80px;
  }
}

/* Phones */
@media (max-width: 480px) {
  .home-components {
    padding: 100px 19px;
  }
}