.register-section{
  background-color: #00000079;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-fst-bx{
  width: 38%;
  background-color: #ffffff;
  padding: 30px;
}
.registration-title{
  color: #1d4c29;
}
.registration-form{
  width: 100%;
}
.register-header-bx{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.registration-input-bx{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.registration-input{
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #ffffff;
  margin-bottom: 30px;
  border: 1px solid #1d4c29;
  outline: none;
}
.signup-input-bx{
  display: flex;
  gap: 20px;
}
.signup-input,
.signup-address-input{
  width: 50%;
  padding: 12px 10px;
  border: 1px solid #ffffff;
  margin-bottom: 30px;
  border: 1px solid #1d4c29;
  outline: none;
}
.signup-address-input{
  width: 100%;
}
.register-btn{
  background-color: #1d4c29;
  color: #ffffff;
  font-size: 16px;
  border: none;
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}
.register-btm-txt{
  text-align: center;
  font-size: 14px;
}
.register-span{
  color: #1d4c29;
  cursor: pointer;
}