.about-section{
  width: 100%;
  min-height: 100vh;
  display: flex;
}
.about-img-bx{
  width: 55%;
  background-image: url('../../Assets/Category/about-us.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.img-overlay{
  width: 100%;
  height: 100%;
  background-color: #057a6141;
  overflow: hidden;
}
.about-txt-bx{
  width: 45%;
  padding: 110px 30px;
}
.about-header-txt{
  color: #1d4c29;
  font-size: 40px;
  margin-bottom: 30px;
}
.about-content{
  line-height: 25px;
  text-align: justify;
  font-size: 15px;
}