.footer{
  width: 100%;
  /* height: 40vh; */
  background-color: #000000;
  padding: 60px 0 20px 0;
}
form{
  width: 33%;
  margin: auto;
  margin-bottom: 50px;
}
.form-title{
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}
.input-bx{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.email{
  width: 66%;
  height: 33px;
  padding: 1px 5px;
  border: none;
  outline: none;
}
.form-btn{
  width: 33%;
  height: 34px;
  border: none;
  background-color: #fe8c00;
  color: #ffffff;
  cursor: pointer;
}
.footer-menu{
  width: 35%;
  margin: auto;
  margin-bottom: 60px;
}
.footer-ul{
  display: flex;
  justify-content: center;
}
.footer-li{
  color: #ffffff;
  font-size: 14px;
}
.small{
  color: #ffffff;
  text-align: center;
  font-size: 12px;
}

@media (max-width: 890px) {
  .footer-ul {
    flex-direction: row;
  }
}

@media (max-width: 480px) {
  form {
    width: 100%;
    padding: 0 10px;
  }
  .footer-menu {
    width: 100%;
    margin-bottom: 60px;
  }
}