.navbar{
  width: 100%;
  height: 140px;
  position: fixed;
  z-index: 1000;
}
.logo--bx{
  width: 100%;
  height: 55%;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 20px 30px;
}
.hamburger-x, .hamburger-bar{
  visibility: hidden;
  margin-right: 565px;
}
.logo{
  text-align: center;
  color: #C2272D;
  cursor: pointer;
  margin-right: 150px;
}
.signup--btn{
  width: 90px;
  height: 30px;
  background: #C2272D;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}
.n--span{
  background: #C2272D;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
}
.search-signup--bx{
  display: flex;
  align-items: center;
  gap: 40px;
}
.search--bx{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px 0 0;
  border-radius: 5px;
  border: 1px solid #000000;
}
.search{
  width: 200px;
  height: 30px;
  border-radius: inherit;
  border: none;
  padding: 5px;
  color: #161616;
}
.search-icon{
  width: 17px;
}
.nav--bx{
  width: 100%;
  height: 45%;
  background: #C2272D;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
nav{
  height: 100%;
  display: flex;
  align-items: center;
}
nav div{
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  font-size: 14px;
  color: white;
  height: 100%;
  cursor: pointer;
}
.cart--bx{
  position: relative;
}
.cart--icon{
  width: 35px;
  height: 25px;
}
.cart-quantity{
  width: 20px;
  border-radius: 50%;
  color: #000000;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  position: absolute;
  left: 10px;
  bottom: 18px;
}
.current--menu{
  background-color: black;
}