.hero-section{
  background-color: #252926;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.hero-layer{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1d372453;
}
.hero-img{
  width: 100%;
  height: 100vh;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  
}
.left-bx{
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.left-img-bx{
  width: 100%;
  height: 100%;
  background-image: url('../../Assets/Category/home-interior.jpg');
  background-position: center;
  background-size: cover;
}
.right-bx{
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-img-bx{
  width: 100%;
  height: 50%;
  background-image: url('../../Assets/Category/wardrobe.jpeg');
  background-position: center;
  background-size: cover;
}
.bottom-img-bx{
  width: 100%;
  height: 50%;
  background-image: url('../../Assets//Category//wardrobe.jpeg');
  background-position: center;
  background-size: cover;
}
