.hero-section{
  width: 100%;
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-img {
  width: 80%;
  height: 75vh;
  margin: auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.hero-layer{
  width: 100%;
  height: 100%;
  background-color: #1d372464;
  border-radius: inherit;
  padding-left: 35px;
  position: relative;
}
.hero-txt{
  color: #ffffff;
  font-size: 33px;
  position: absolute;
  bottom: 30px;
}
.left-img-bx{
  width: 44%;
  height: 100%;
  background-image: url('../../Assets/Category/home-interior.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.right-bx{
  width: 54%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-img-bx{
  width: 100%;
  height: 48%;
  background-image: url('../../Assets/Category/kitchen.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.bottom-img-bx{
  width: 100%;
  height: 48%;
  background-image: url('../../Assets//Category/wardrobe.jpeg');
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

@media (max-width: 890px) {
  .hero-img {
    width: 90%;
    height: 78vh;
    flex-direction: column;
  }
  .left-img-bx {
    width: 100%;
    height: 48%;
  }
  .right-bx {
    width: 100%;
    height: 48%;
    flex-direction: row;
  }
  .top-img-bx {
    width: 47%;
    height: 100%;
  }
  .bottom-img-bx {
    width: 47%;
    height: 100%;
  }
  .hero-layer {
    padding-left: 20px;
  }
  .hero-txt {
    font-size: 20px;
    position: absolute;
    bottom: 20px;
  }
}