.category-bx{
  width: 100%;
}
.category-info-bx{
  width: 60%;
}
.category-header{
  font-size: 30px;
  margin-bottom: 20px;
}
.category-info{
  line-height: 25px;
  margin-bottom: 35px;
}
.category-option-bx{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  overflow-x: scroll;
  margin-bottom: 60px;
}
.category-option-bx::-webkit-scrollbar{
  display: none;
}
.option-bx{
  min-width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.option-img-bx{
  width: 100%;
  height: 110px;
  border-radius: 50%;
  margin-bottom: 13px;
  padding: 5px;
}
.option-img{
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.option-name{
  font-size: 15px;
  font-weight: bold;
}


@media (max-width: 890px) {
  .category-info-bx {
    width: 88%;
  }
  .option-img-bx {
    width: 90%;
    height: 90px;
  }
}

@media (max-width: 480px) {
  .category-info-bx {
    width: 100%;
  }
  .category-info {
    font-size: 15px;
  }
  .option-img-bx {
    width: 75%;
  }
}