.category-bx{
  width: 100%;
}
.category-info-bx{
  width: 60%;
}
.category-header{
  font-size: 30px;
  margin-bottom: 20px;
}
.category-info{
  line-height: 25px;
  margin-bottom: 35px;
}
.category-option-bx{
  width: 100%;
  height: 90px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.option-bx{
  min-width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.option-icon-bx{
  width: 60%;
  height: 55px;
  background-color: #57625a;
  border-radius: 50%;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #af8c53;
  font-size: 30px;
  font-weight: bold;
}
.option-name{
  font-size: 17px;
  font-weight: bold;
  color: #252926;
}


@media (max-width: 890px) {
  .category-info-bx {
    width: 88%;
  }
  .category-option-bx {
    height: 110px;
    gap: 15px;
    overflow-x: scroll;
  }
  .category-option-bx::-webkit-scrollbar{
    display: none;
  }
}

@media (max-width: 650px) {
  .category-info-bx {
    width: 100%;
  }
  .category-info {
    font-size: 15px;
  }
  .option-img-bx {
    width: 75%;
  }
}