.explore--menu{
  width: 100%;
  height: 270px;
  margin: auto;
  padding: 10px;
  margin-bottom: 30px;
}
.category-statement-bx{
  height: 30%;
  margin-bottom: 3px;
}
.category-header-txt{
  font-weight: 900;
  margin-bottom: 20px;
}
.category-statement{
  font-size: 15px;
}
.category-menu-bx{
  width: 100%;
  height: 67%;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 18px 0;
  margin: auto;
}
.category--bx{
  width: 100px;
  height: 100%;
  padding: 1px;
}
.category-img--bx{
  width: 100%;
  height: 73%;
  border: 3px solid black;
  border-radius: 50%;
  margin-bottom: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
.category-img{
  width: 100%;
  height: 100%;
  border-radius: inherit;
  margin-bottom: 4px;
}
.category--name{
  font-size: 14px;
  text-align: center;
  padding: 3px 4px;
}
.active-category{
  border-radius: 3px solid #C2272D;
  padding: 2px;
}